:root{
    --iris:#4D5AE5;
    --ocean: #404BBF;
    --navyBlue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --lightSlate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navyBlueModal: #2e2f42;
    --grey: #2e2f42;
    --white: #fff;
    --dairy: #fcfcfc;

}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--dairy);
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color:#ffffff;
}
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}
/* font-family: 'Raleway', sans-serif;

font-family: 'Roboto', sans-serif; */

h1{
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height:  107.143%;
letter-spacing: 1.12px;
}
h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height:  111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
h3{
    font-size: 20px;
font-style: normal;
font-weight: 500;
line-height:  120%;
letter-spacing: 0.4px;
}
button{
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%;
letter-spacing: 0.64px;
cursor: pointer;
}
a{
    font-size: 12px;
font-style: normal;
font-weight: 400;
line-height:  133.333%;
letter-spacing: 0.48px;
text-decoration-line: underline;
}
.container{
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__flex{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;

}
header nav {
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    align-items: center;
}

header address ul{
    display: flex;
}
.logo{
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height:  1.17%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);
margin-right: 76px;
}
.logo_span{
    color: var(--navyBlue);

}
.header-nav__li{
    margin-right: 40px;
}
.header-nav__link{
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:  150% ;
letter-spacing: 0.32px;
transition: all .4s;
color: var(--navyBlue);
}
.header-nav__link:hover{
    color: var(--ocean);
}
.header-nav__li:last-child{
margin-right: 0;
}

.header-info__li{
margin-right: 40px;
}
.header-info__li:last-child{
    margin-right: 0;
}
.header-info__link{
color: var(--slate);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 150% */
letter-spacing: 0.32px;
transition: all .4s;
}
.header-info__link:hover{
    color: var(--ocean);
}
.advertisement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--navyBlue);
    padding: 188px 0;
}
.advertisement__title{
    width: 100%;
    max-width: 496px;
    color: var(--white);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.143%;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
}
.advertisement__btn{
    padding: 16px 32px;
    background-color: var(--iris);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height:  150%;
    letter-spacing: 0.64px;
    transition: all .4s;
}
.advertisement__btn:hover{
    background-color: var(--ocean);
}
.methody{
    padding: 120px 0;
}
.methody__flex{
    display: flex;
}
.methody__block{
    margin-right: 24px;
    width: 100%;
    max-width: 264px;
}
.methody__main-title{
    display: none;
}
.methody__block:last-child{
    margin-right: 0;
}
.methody__title{
    font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%;
letter-spacing: 0.4px;
margin-bottom: 8px;
}
.team{
    background-color: var(--cloud);
    padding: 120px 0;
}
.team__title{
    margin: 0 0 72px;
    text-align: center;
    columns: var(--navyBlue);
}
.team__flex{
    display: flex;
}
.team__block{
    margin-right: 24px;
    width: 100%;
    max-width: 264px;
}
.team__block:last-child{
    margin-right: 0;
}